body {
    background-color: lightgrey !important;
    color: black;
}

span.message {
    font-weight: bold;
    text-transform: capitalize;
}

a.nav-link.active {
    color: orange !important;
}

.livesearch-container {
    position: relative;
    z-index: 1;
    width: 227px;
    height: 40px;
}

.livesearch {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 2;
    height: auto;
    max-height: 100vh;
    overflow-y: auto;
}

.card-header {
    border-bottom: none;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    height: 18px;
}

#sortable li span {
    position: absolute;
    margin-left: -1.3em;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    text-align: center;
}
.btn-outline-success, .btn-primary {
    width: 150px;
}

.btn-primary {
    width: 160px;
}

.list-button {
    cursor: pointer;
    display: block;
}
.pl-show {
    width: 205px;
    height: 35px;
}

#note {
    min-width:90%;
    min-height:400px;
}

.table-date-width {
    width: 190px;
}
.table-edit-width {
    width: 66px;
}
.table-delete-width {
    width: 66px;
}
#button-addon2 {
    width: 205px!important;
}
.card-header {
    background-color: #555!important;
    color: #fff;
}
.card-body {
    background-color: #333;
    color: #fff;
    text-align: center;
}
#navigation a {
    color: #fff;
}
body {
    background-image: url("/img/bg_home.jpg");
}

#reg {
    max-width: 200px;
}

.logo {
    display: flex;
}

img {
    border: none!important;
}

#terms {
max-width: 25px;
}
.shoplist {
    width: 250px!important;
}
.delete-product-button {
    right: 33px;
    top: -2px;
}

.ui-sortable-handle {
    display: inline-block;
}

@media screen and (max-width: 1024px) {

.card {
    max-width: 400px;
}
    #note {
        min-width:40%;
        min-height:200px;
    }
    .ui-sortable-handle {
        display: inline-block;
        left: 14px;
        position: relative;
    }
}


