body {
    background-color: #64788c!important;
    color: black;
}
span.message {
    font-weight: bold;
    text-transform: capitalize;
}
a.nav-link.active {
    color:orange!important;
}
.livesearch-container {
    position: relative;
    z-index: 1;
    width: 227px;
    height: 40px;
}
.livesearch {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 2;
    height: auto;
    max-height: 100vh;
    overflow-y: auto;
}
