body {
    background-color: #64788c!important;
    color: lightgrey;
}
span.message {
    font-weight: bold;
    text-transform: capitalize;
}
a.nav-link.active {
    color:blue!important;
    background-color: orange;
}
